<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.excalidraw.cloudflared</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/opt/cloudflared/bin/cloudflared</string>
        <string>tunnel</string>
        <string>--config</string>
        <string>__REPO_DIR__/deploy/generated/tunnel.yml</string>
        <string>run</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>__CLOUDFLARED_LOG__</string>
    <key>StandardErrorPath</key>
    <string>__CLOUDFLARED_LOG__</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
