<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.excalidraw.ws-backend</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/env</string>
        <string>node</string>
        <string>__REPO_DIR__/backend/server.js</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/excalidraw-ws-backend.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/excalidraw-ws-backend.err</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>PORT</key>
        <string>__WS_PORT__</string>
        <key>WS_DATA_DIR</key>
        <string>__WS_DATA_DIR__</string>
        <key>JWT_SECRET_FILE</key>
        <string>__JWT_SECRET_FILE__</string>
    </dict>
</dict>
</plist>
